button {
    height: 65px;
    background: #86CD89;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding: 12px 0 12px 0;
}